<footer>
  <div class="footer_logo"></div>
  <a href="./index.html" class="logo">
    <svg class="icon-logo" width="194" height="18">
      <use href="./images/icons/icons.svg#icon-logo"></use>
    </svg>
  </a>
  <p class="footer_text">
    Whether you're looking for a healthy snack or a thoughtful gift, our fruit
    baskets are the perfect choice.
  </p>
  <div class="footer_important">
    <nav class="footer_navigation">
      <ul class="footer-menu-list">
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="">how it works</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="">vegetables</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="">reviews</a>
        </li>
      </ul>
    </nav>
    <address>
      <ul class="header-addres-list">
        <li class="header-addres-item">
          <a class="header-addres-link" href="tel:+380684439426"
            >+380 (68) 443-94-26
          </a>
        </li>
        <li class="header-addres-item">
          <a class="header-addres-link" href=""
            >1678 S. Pioneer Road Salt<br />
            Lake City UT 84104
          </a>
        </li>
      </ul>
    </address>
    <div class="footer_links"></div>
  </div>
</footer>
