<header class="header">
  <div class="container header-container">
    <nav class="navigation-main">
      <a href="./index.html" class="logo">
        <svg class="icon-logo" width="194" height="18">
          <use href="./images/icons/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="navigation-menu">
        <li class="navigation-list">
          <a href="#howitworks" class="nav-link">How It Works</a>
        </li>
        <li class="navigation-list">
          <a href="#vegetables" class="nav-link">Vegetables</a>
        </li>
        <li class="navigation-list">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="btn-buy">Shop now</button>
    <button
      type="button"
      class="open-menu js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="icon-menu" width="32" height="32">
        <use href="./images/icons/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
