<section class=" container hero">
  <div class="hero-toper">
      <h1 class="hero-title">organic vegetables to your diet today!</h1>
      <p class="hero-text">Our expertly curated vegetable baskets are made with the freshest, highest quality
          vegetables
          available. Fresh
          Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets
          delivered to
          you.</p>
  </div>
  <picture>
      <source srcset="./images/hero-img/hero-desk.jpg 1x, ./images/hero-img/hero-desk-2x.jpg 2x"
          media="(min-width: 1158px)" />
      <source srcset="./images/hero-img/hero-tab.jpg 1x, ./images/hero-img/hero-tab-2x.jpg 2x"
          media="(min-width: 768px)" />
      <source srcset="./images/hero-img/hero-mob.jpg 1x, ./images/hero-img/hero-mob-2x.jpg 2x"
          media="(min-width: 320px)" />
      <img src="./images/hero-img/hero-desk-2x.jpg" alt="Basket" class="hiro-image" />
  </picture>
</section>
