<section class="how-it-works container hiw-gradient" id="howitworks">
  <div class="hiw-image">
    <picture>
      <source srcset="
                    ./images/howitworks-img/howitworks-desk.png 1x, 
                    ./images/howitworks-img/howitworks-desk-2x.png 2x" media="(min-width: 1280px)">

      <source srcset="  
                    ./images/howitworks-img/howitworks-tab.png 1x, 
                    ./images/howitworks-img/howitworks-tab-2x.png 2x" media="(min-width: 768px)">

      <source srcset="   
                    ./images/howitworks-img/howitworks-mob.png 1x,   
                    ./images/howitworks-img/howitworks-mob-2x.png 2x" media="(min-width: 375px)">
      <img src="
                    ./images/howitworks-img/howitworks-mob.png" alt="
                    Happy women cutting fruits" width="335">
    </picture>
  </div>
  <div class="hiw-explain-bg">
    <div class="hiw-explain">
      <h2 class="visually-hidden">How it works</h2>
      <h3 class="hiw-header">To order your <span>vegetable</span> basket, simply follow these <span>easy
          steps</span>
      </h3>
      <p class="hiw-text">Our baskets are assembled with care and delivered straight to your doorstep, so you
        can
        enjoy the taste
        of fresh fruit
        without ever leaving your home.</p>
      <ol class="hiw-list">
        <li class="hiw-item">
          <p class="hiw-icon-text">
            Just choose <span>the vegetable</span> you want to order by clicking on the checkboxes
            <span>next to it.</span>
          </p>
        </li>
        <li class="hiw-item">
          <p class="hiw-icon-text">Click on <span>the basket</span> and fill out the form.</p>
        </li>
        <li class="hiw-item">
          <p class="hiw-icon-text">Sit back and relax! Your <span>fresh vegetables</span> basket will
            be
            delivered.</p>
        </li>
      </ol>
    </div>
  </div>
</section>