<div class="backdrop">
  <div class="container mob-menu">
    <div>
      <button type="button" class="menu-button-close">
        <svg width="32" height="32" class="close-icon">
          <use href="./src/images/icons/icons.svg#icon-exit"></use>
        </svg>
      </button>
      <nav>
        <ul class="menu-list">
          <li class="menu-list-item current">
            <a class="menu-list-link" href="#howitworks">How It Works</a>
          </li>
          <li class="menu-list-item">
            <a class="menu-list-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="menu-list-item">
            <a class="menu-list-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
    </div>
    <button type="button" class="menu-button-shop">SHOP NOW</button>
  </div>
</div>
