<section id="reviews" class="section">
  <div class="container">
    <div class="reviews-title-cont">
      <h2 class="reviews-title">
        reviews from our<span class="reviews-span"> customers</span>
      </h2>
      <p class="reviews-text">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img srcset="
            ./images/reviews-img/john-wax-2x.avif 2x,
            ./images/reviews-img/john-wax.avif    1x
          " src="./images/reviews-img/john-wax.avif" alt="John Wax" width="56" height="56" class="reviews-image" />
        <div class="reviews-frame">
          <h3 class="reviews-subtitle">John Wax</h3>
          <p class="reviews-item-text">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>

      <li class="reviews-item">
        <img srcset="
            ./images/reviews-img/victoria-romashenko-2x.avif 2x,
            ./images/reviews-img/victoria-romashenko.avif    1x
          " src="./images/reviews-img/victoria-romashenko.avif" alt="Victoria Romashenko" width="56" height="56"
          class="reviews-image" />
        <div class="reviews-frame">
          <h3 class="reviews-subtitle">Victoria Romashenko</h3>
          <p class="reviews-item-text">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </div>
      </li>

      <li class="reviews-item">
        <img srcset="
            ./images/reviews-img/ihor-tkachuk-2x.avif 2x,
            ./images/reviews-img/ihor-tkachuk.avif    1x
          " src="./images/reviews-img/ihor-tkachuk.avif" alt="Ihor Trachuk" width="56" height="56"
          class="reviews-image" />
        <div class="reviews-frame">
          <h3 class="reviews-subtitle">Ihor Trachuk</h3>
          <p class="reviews-item-text">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>