<section class="your-order section">
  <div class="container">
    <div class="order-title-wrap">
      <h2 class="order-title">
        Fresh
        <span class="order-title-span">Harvest</span> Box has got you covered
      </h2>
      <p class="order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="order-wrap">
      <form class="order-form">
        <h3 class="form-title">
          Ordering <span class="form-span-us">from us</span> is quick and easy!
          Fill out <span class="form-span-form">the form</span> below and we
          will contact you !
        </h3>
        <label for="user-name" class="form-label"></label><input type="text" class="form-input" name="user-name"
          id="user-name" placeholder="Full Name" required /><label for="user-email" class="form-label"></label><input
          type="email" class="form-input" name="user-email" id="user-email" placeholder="Email" required />
        <label for="user-comment" class="form-label"></label>
        <textarea name="user-comment" id="user-comment" class="form-comment" placeholder="Comment"
          required></textarea><button type="submit" class="form-submit">Send</button>
      </form>
      <div class="order-social">
        <picture class="order-img">
          <source srcset="
              ./images/order-img/socialbg-desk.avif    1x,
              ./images/order-img/socialbg-desk-2x.avif 2x
            " media="(min-width:1280px)" />
          <source srcset="
              ./images/order-img/socialbg-tab.avif    1x,
              ./images/order-img/socialbg-tab-2x.avif 2x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/order-img/socialbg-mob.avif    1x,
              ./images/order-img/socialbg-mob-2x.avif 2x
            " media="(min-width:320px)" />
          <img class="yo-img" src="./images/order-img/socialbg-mob.avif"
            alt="woman making apple fresh with lemon juice" />
        </picture>
        <p class="order-social-text">Follow us on our social networks:</p>
        <p class="social-link-text">
          <a class="order-social-link" href="https://www.instagram.com/goitclub/" target="_blank">instagram</a><span
            class="order-slash">/</span><a class="order-social-link" href="https://www.facebook.com/goITclub/"
            target="_blank">facebook</a><span class="order-slash">/</span><a class="order-social-link"
            href="https://www.youtube.com/c/GoIT" target="_blank">youtube</a>
        </p>
      </div>
    </div>
  </div>
</section>