footer {
  background-color: #7a3145;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.footer-important-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-logo-wrap {
  max-width: 296px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-text {
  font-size: 14px;
  line-height: 1.29;
}
.footer-important {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 215px;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-menu-link {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #576f35;
}
.contacts {
  display: block;
}
.footer-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-contacts-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}
.footer-links-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer-links {
  display: flex;
  gap: 8px;
}
.footer-links-item {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}
.footer-links-copyritelogo {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

@media screen and (min-width: 768px) {
  footer {
    padding: 32px 0;
  }

  .footer-container {
    gap: 100px;
  }
  .footer-important-wrap {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
  .footer-logo-wrap {
    gap: 25px;
    width: 265px;
  }

  .footer-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .footer-important {
    gap: 64px;
  }

  .footer-menu-list {
    gap: 25px;
  }

  .footer-menu-link {
    font-size: 32px;
  }
  .contacts {
    width: 215px;
  }
  .footer-contacts-list {
    gap: 25px;
  }
  .footer-contacts-item {
  }
  .footer-contacts-link {
    font-size: 18px;
    line-height: 1.11;
  }
  .footer-links-wrap {
  }

  .footer-links-item {
    font-size: 18px;
    line-height: 1.11;
  }
  .footer-links-copyritelogo {
    font-size: 18px;
    line-height: 1.11;
  }
}

@media screen and (min-width: 1280px) {
  footer {
    padding: 50px 0;
  }

  .footer-container {
    gap: 125px;
  }

  .footer-important {
    flex-direction: row;
    gap: 0;
    width: 513px;
    justify-content: space-between;
  }
}
