.header {
  background-color: transparent;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}

.header-container {
  display: flex;
  align-items: baseline;
}

.navigation-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.icon-logo {
  fill: #fbfbfb;
  width: 168px;
  height: 16px;
}

.logo {
  padding: 8px 0;
}

.icon-menu {
  stroke-width: 3px;
  stroke: #fbfbfb;
}

.open-menu {
  background-color: transparent;
  padding: 0;
  line-height: 0;
  border: none;
  align-self: center;
}

.navigation-menu {
  display: none;
}

.btn-buy {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  .logo {
    padding: 11px 0;
  }

  .icon-logo {
    fill: #fbfbfb;
    width: 194px;
    height: 18px;
  }
  .icon-menu {
    stroke-width: 4px;
    width: 40px;
    height: 40px;
  }

  .header {
    top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .open-menu,
  .icon-menu {
    display: none;
  }

  .logo {
    padding: 17px 0;
    margin-bottom: auto;
  }
  .header {
    top: 36px;
  }

  .navigation-menu {
    display: inline-block;
    display: flex;
    gap: 8px;
    margin-left: auto;
  }

  .nav-list {
    padding: 0;
    margin: 0;
  }

  .nav-link {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    width: 114px;
    height: 44px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    border: 1px solid #fbfbfb;
    box-shadow: inset 0 0 5px 2px rgba(251, 251, 251, 0.4);
  }

  .btn-buy {
    display: block;
    font-weight: 600;
    background-color: #7a3145;
    text-align: center;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    border-radius: 30px;
    width: 157px;
    height: 52px;
    padding: 16px 32px;
    border: none;
    white-space: nowrap;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 20px;
  }

  .btn-buy:hover,
  .btn-buy:focus {
    background-color: #622133;
  }
}
