.hero {
  background-color: #576f35;
  background-image: linear-gradient(to right, #576f35 50%, transparent 50%),
    linear-gradient (rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
    url(/images/hero-img/hero-mob.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto auto;
  margin: 0 auto;
  padding-top: 238px;
  padding-bottom: 50px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 320px),
  (min-resolution: 192dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/images/hero-img/hero-mob-2x.jpg);
  }
}

.hero-toper {
  padding-top: 100px;
  padding-bottom: 40px;
}

.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 14px;
  line-height: 1.28571;
}

@media screen and (min-width: 375px) {

  .hero {
    background-image: linear-gradient(to right, #576f35 50%, transparent 50%),
      linear-gradient (rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
      url(/images/hero-img/hero-mob.jpg);
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, #576f35 50%, transparent 50%),
      linear-gradient (rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
      url(/images/hero-img/hero-tab.jpg);
  }

  .hero-text {
    max-width: 603px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 25px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 768px),
    (min-resolution: 192dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../images/hero-img/hero-tab-2x.jpg);

      padding-top: 485px;
    }
  }
}

@media screen and (min-width: 1280px) {

  .hero {
    background-image: linear-gradient(to right, #576f35 50%, transparent 50%),
      linear-gradient (rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)),
      url(/images/hero-img/hero-desk.jpg);
  }
  .hero {
    @media screen and (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 1280px),
      (min-resolution: 192dppx) {
      .hero {
        background-image: linear-gradient(
            rgba(20, 20, 20, 0.2),
            rgba(20, 20, 20, 0.2)
          ),
          url(/images/hero-img/hero-desk-2x.jpg);
        margin-left: auto;
      }
    }
  }

  .hero-title {
    margin-bottom: 128px;
  }

  .hero-text {
    max-width: 472px;
  }
}
