body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  color: #fbfbfb;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}


.hero {
  padding: 0;
}


.hero-toper {
  padding: 100px 20px 40px 20px;
  background-color: #576f35;
  /* max-width: 335px; */
}

.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
}


@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 744px;
  }

  .hero-toper {
    padding: 122px 32px 50px;
  }

  .hero-text {
    max-width: 603px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1158px) {
  /* .container {
    max-width: 1280px;
  }

  .hero {
    display: flex;
    padding: 0;
  }

  .hero-toper {
    padding: 238px 28px 50px 100px;
    max-width: 502px;
  }

  .hero-title {
    margin-bottom: 128px;
  }

  .hero-text {
    max-width: 472px;
  } */
}

