.hero {
  background-color: #576f35;
}

.hero-container,
.hero-section {
  padding: 0;
}

.hero-toper {
  background-color: #576f35;
  padding: 100px 20px 40px 20px;
}

.hero-title {
  font-weight: 600;
  font-size: 13vw;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 14px;
  line-height: 1.29;
  max-width: 335px;
}

.background {
  width: 100%;
  height: 370px;
  background-color: #576f35;
  background-image: linear-gradient(to bottom,
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)),
    url('/images/hero-img/hero-mob.avif');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .hero-title {
    font-size: 48px;
  }
}


@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .background {
    background-image: linear-gradient(to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)),
      url('/images/hero-img/hero-mob-2x.avif');
  }
}

@media screen and (min-width: 768px) {
  .hero-toper {
    padding: 122px 32px 50px 23px;
  }

  .hero-title {
    margin-bottom: 25px;
  }

  .background {
    height: 539px;
    background-image: linear-gradient(to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)),
      url('/images/hero-img/hero-tab.avif');
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    .background {
      background-image: linear-gradient(to bottom,
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)),
        url('/images/hero-img/hero-tab-2x.avif');
    }
  }

  .hero-title {
    font-size: 76px;
    max-width: 704px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 603px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-toper {
    max-width: 630px;
    padding: 238px 28px 50px 100px;
  }

  .hero-title {
    max-width: 502px;
    font-weight: 600;
    margin-bottom: 128px;
  }

  .hero-text {
    line-height: 1.25;
    max-width: 472px;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
  }

  .background {
    max-width: 650px;
    height: 800px;
    flex: 1;
    background-image: linear-gradient(to left,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)),
      url('/images/hero-img/hero-desk.avif');
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    .background {
      background-image: linear-gradient(to left,
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)),
        url('/images/hero-img/hero-desk-2x.avif');
    }
  }
}