.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  text-align: left;
  padding-bottom: 20px;
}

.reviews-span {
  color: #576f35;
}

.reviews-text {
  font-size: 14px;
  line-height: 1.3;
  color: #141414;
  text-align: left;
}

.reviews-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 20px;
  overflow-x: auto;
  gap: 25px;
}

.reviews-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  border-radius: 24px;
  padding: 20px 16px;
  border: 1px solid rgba(122, 49, 69, 0.3);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.reviews-image {
  max-width: 56px;
  box-sizing: border-box;
  border-radius: 72px;
  margin-bottom: 24px;
}

.reviews-frame {
  gap: 8px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.reviews-subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #040306;
}
.reviews-item-text {
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(4, 3, 6, 0.4);
  padding: 0 7px;
}

.reviews-list::-webkit-scrollbar {
  width: 5px;
}

.reviews-list::-webkit-scrollbar-thumb {
  background: #7a3145;
  border-radius: 6px;
}

.reviews-list::-webkit-scrollbar-track {
  background: #e7e3e4;
}

@media screen and (min-width: 768px) {
  .reviews-title-cont {
    margin-right: 151px;
  }
  .reviews-title {
    font-size: 64px;
    letter-spacing: -0.01em;
    padding-bottom: 25px;
  }

  .reviews-text {
    font-size: 16px;
    line-height: 1.3;
  }

  .reviews-list {
    margin-top: 50px;
    margin-bottom: 0;
    gap: 18px;
  }

  .reviews-item {
    max-width: 343px;
    width: calc((100% - 18px) / 2);
  }
}

.reviews-subtitle {
  font-size: 18px;
}
.reviews-item-text {
  font-size: 16px;
  line-height: 22px;
}

@media screen and (min-width: 1280px) {
  .reviews-title-cont {
    margin-right: 527px;
  }

  .reviews-list {
    gap: 25px;
  }

  .reviews-item {
    width: calc((100% - 50px) / 3);
  }
}
